PHP-XML-XSL-XSD/contacto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="Envio">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="apellidos" type="xs:string"/>
      <xs:element name="correo" type="xs:string"/>
      <xs:element name="mensaje" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="formulario">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="envio" type="Envio" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
